<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    {{ render_menu() }}

    {% if app.session.flashbag.has('info') %}
        <div class="alert alert-success" role="alert">
            {% for flash in app.session.flashbag.get('info') %}
                <p class="mb-0">{{ flash }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
